@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
.header {
  height: 68px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
.header__navigation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navigation__menu {
  width: 16px;
  height: 15px;
}
.header__navigation__menu:hover {
  cursor: pointer;
}
.header__navigation__logo {
  width: 137px;
  height: 20px;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 600px;
  }
  .header__navigation__menu {
    display: none;
  }
}
.header__user {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__user {
    width: 125px;
  }
}
.header__user__cart {
  position: relative;
}
.header__user__cart__icon {
  width: 23px;
  height: 23px;
}
.header__user__cart--notification {
  width: 15px;
  height: 12px;
  border-radius: 16px;
  background-color: hsl(26, 100%, 55%);
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0, 0%, 100%);
  display: none;
}
.header__user__cart:hover {
  cursor: pointer;
}
.header__user__avatar {
  width: 25px;
  border: 1px solid transparent;
}
@media (min-width: 1115px) {
  .header__user__avatar {
    width: 48px;
  }
}
.header__user__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  width: 400px;
  display: none;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__link {
  display: block;
  color: hsl(219, 9%, 45%);
  height: 112px;
  font-weight: 400;
  line-height: 112px;
}
.navbar__link:hover {
  border-bottom: 1px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar-container {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.modal-navbar {
  width: 250px;
  height: 100%;
  padding: 28px 24px;
  background-color: hsl(0, 0%, 100%);
}
.modal-navbar__close {
  width: 16px;
}
.modal-navbar__close:hover {
  cursor: pointer;
}
.modal-navbar__links {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
.modal-navbar__link {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}

.gallery__image-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../images/image-product-1-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -35px;
}
.gallery__image-container:hover {
  cursor: pointer;
}
.gallery__container-previus {
  background-color: hsl(0, 0%, 100%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 15px;
}
.gallery__container-previus:hover {
  border: 1px solid hsl(26, 100%, 55%);
  cursor: pointer;
}
.gallery__container-previus:hover path {
  stroke: hsl(26, 100%, 55%);
}
.gallery__container-previus svg {
  width: auto;
}
.gallery__container-next {
  background-color: hsl(0, 0%, 100%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
}
.gallery__container-next:hover {
  border: 1px solid hsl(26, 100%, 55%);
  cursor: pointer;
}
.gallery__container-next:hover path {
  stroke: hsl(26, 100%, 55%);
}
.gallery__container-next svg {
  width: auto;
}
.gallery__thumbnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery {
    width: 403px;
    display: block;
  }
  .gallery__image-container {
    height: 403px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-position-y: 0px;
  }
  .gallery__container-previus, .gallery__container-next {
    display: none;
  }
  .gallery__thumbnails {
    display: flex;
    justify-content: space-between;
  }
  .gallery__thumbnail__img {
    width: 80px;
    border-radius: 10px;
  }
  .gallery__thumbnail__img:hover {
    cursor: pointer;
    border: 1px solid hsl(26, 100%, 55%);
  }
}

.details {
  padding: 24px;
}
.details__company {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  font-style: 0.875rem;
  margin-bottom: 12px;
}
.details__title {
  font-size: 1.625rem;
  margin-bottom: 16px;
  font-weight: 700;
}
.details__description {
  font-size: 0.9375rem;
  color: hsl(219, 9%, 45%);
  line-height: 1.5rem;
  margin-bottom: 24px;
}
.details__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.details__now {
  font-size: 1.375rem;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  display: flex;
  align-items: center;
}
.details__now--discount {
  background-color: hsl(0, 0%, 0%);
  width: 53px;
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  padding: 4px;
  border-radius: 7px;
  margin-left: 1.125rem;
  text-align: center;
}
.details__before {
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
.details__product-quantity .input {
  height: 55px;
  padding-inline: 1.25rem;
  margin-bottom: 1rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details__product-quantity .input__number {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  outline: none;
  padding-inline: 12px;
}
.details__product-quantity .input__number::-webkit-inner-spin-button, .details__product-quantity .input__number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.details__product-quantity .input img {
  width: 12px;
}
.details__product-quantity .input img:hover {
  cursor: pointer;
}
.details__button {
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 20px;
  border-radius: 10px;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.details__button img {
  width: 18px;
}
@media (min-width: 1115px) {
  .details {
    width: 446px;
    padding-top: 57px;
  }
  .details__title {
    font-size: 2rem;
    margin-bottom: 48px;
  }
  .details__description {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }
  .details__prices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .details__now {
    margin-bottom: 1.3125rem;
  }
  .details__product-quantity {
    display: flex;
    gap: 1rem;
  }
  .details__product-quantity .input {
    width: 140px;
    height: 51px;
  }
  .details__button {
    width: 244px;
    height: 51px;
  }
}

.cart-modal {
  width: 360;
  height: 260px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 75px;
  left: 8px;
  right: 8px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.cart-modal__title {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  margin-bottom: 1.875rem;
}
.cart-modal__checkout-container {
  margin-inline: -24px;
  border-top: 1px solid hsl(223, 64%, 98%);
  padding: 1.5rem;
}
.cart-modal__detail-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.cart-modal__img-product {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font-size: 1rem;
}
.cart-modal__product {
  color: hsl(220, 14%, 75%);
  font-weight: 500;
}
.cart-modal__price {
  color: hsl(220, 14%, 75%);
  font-weight: 500;
}
.cart-modal__price span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete {
  width: 1rem;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__empty {
  color: hsl(220, 14%, 75%);
  text-align: center;
  font-weight: 700;
  margin-block: 42px;
  display: none;
}
.cart-modal__checkout {
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 20px;
  border-radius: 10px;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  margin-bottom: -1rem;
}
.cart-modal__checkout:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 115px) {
  .cart-modal {
    width: 365px;
    top: 85px;
    left: 68%;
  }
}

.modal-gallery-container {
  display: none;
}

@media (min-width: 1115px) {
  .modal-gallery-container {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: static;
    display: none;
    place-items: center;
  }
  .modal-gallery {
    width: 550px;
    height: auto;
    position: relative;
  }
  .modal-gallery__close-modal {
    width: 50px;
    height: 50px;
    transform: scale(1.4);
    margin-left: 98%;
  }
  .modal-gallery__close-modal path {
    fill: hsl(0, 0%, 100%);
  }
  .modal-gallery__close-modal path:hover {
    cursor: pointer;
    fill: hsl(26, 100%, 55%);
  }
  .modal-gallery__close-modal:hover {
    cursor: pointer;
  }
  .modal-gallery__image-container {
    width: 100%;
    height: 550px;
    background-image: url(../images/image-product-1-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
  }
  .modal-gallery__container-previus {
    background-color: hsl(0, 0%, 100%);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    left: -30px;
  }
  .modal-gallery__container-previus:hover {
    border: 1px solid hsl(26, 100%, 55%);
    cursor: pointer;
  }
  .modal-gallery__container-previus:hover path {
    stroke: hsl(26, 100%, 55%);
  }
  .modal-gallery__container-previus svg {
    width: auto;
  }
  .modal-gallery__container-next {
    background-color: hsl(0, 0%, 100%);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    right: -30px;
  }
  .modal-gallery__container-next:hover {
    border: 1px solid hsl(26, 100%, 55%);
    cursor: pointer;
  }
  .modal-gallery__container-next:hover path {
    stroke: hsl(26, 100%, 55%);
  }
  .modal-gallery__container-next svg {
    width: auto;
  }
  .modal-gallery__thumbnails {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .modal-gallery__thumbnail {
    width: 90px;
    margin-top: 40px;
    border-radius: 10px;
  }
  .modal-gallery__thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.attribution {
  font-size: 11px;
  display: flex;
  justify-content: center;
  margin-block: 30px;
  align-items: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1115px) {
  .attribution {
    font-size: 1rem;
  }
}

body {
  font-family: "Kumbh Sans";
  font-style: normal;
}

.main-container {
  width: 375px;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
    min-height: 80vh;
  }
}

@media (min-width: 1115px) {
  .content {
    display: flex;
    padding: 90px 50px;
    gap: 124px;
  }
}

.show-block {
  display: block;
}

/*# sourceMappingURL=style.css.map */
