@use './var' ;

body{
  font-family: var.$font-kumbh-sans;
  font-style: normal;
}

.main-container{
  width: 375px;
  border: 1px solid black;
  margin: auto;
  position: relative;

  @media (min-width: 1115px){
    width: 1115px;
  }
}