@use "./var";

body {
  font-family: var.$font-kumbh-sans;
  font-style: normal;
}

.main-container {
  width: 375px;
  margin: auto;
  position: relative;

  @media (min-width: 1115px) {
    width: 1115px;
    min-height: 80vh;
  }
}

.content {
  @media (min-width: 1115px) {
    display: flex;
    padding: 90px 50px;
    gap: 124px;
  }
}


.show-block{
  display: block;
}